<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IAUEC_Apps.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IAUEC_Apps.Business.Properties.Settings>
            <setting name="IAUEC_Apps_Business_Isida4_webservice_main_Isida4_webservice_mainservice"
                serializeAs="String">
                <value>http://192.168.1.18:8888/soap/Isida4_webservice_main</value>
            </setting>
        </IAUEC_Apps.Business.Properties.Settings>
    </applicationSettings>
</configuration>