<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="BPService.PaymentGatewayImplService" value="https://bpm.shaparak.ir/pgwchannel/services/pgw?wsdl" />
    <add key="PgwSite" value="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" />
    <add key="Mellat_CallBackUrl" value="http://reg.iauec.ac.ir/Pages/CallBack.aspx" />
    <add key="Mellat_TerminalId" value="1396280" />
    <add key="UserName" value="nance4" />
    <add key="UserPassword" value="50599564" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="SMS_UserName" value="electronic@3000"/>
    <add key="SMS_Password" value="123456"/>
    <add key="SMS_Source" value="982142863000"/>
    <add key="SMS_uri" value="http://panel.asanak.ir/webservice/v1rest/sendsms"/>
    <add key="SMS_uriStatus" value="http://panel.asanak.ir/webservice/v1rest/msgstatus"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>