.header-inline-display {
    display: inline-block;
}
.sub-img {
    margin-right: 3.5%; width: 16px;
}
.form-withoutBorder {
    border-right: 0px;
}
.verticalAlign {
        vertical-align: middle !important;
}
.btn-left {
    float: left !important;
}

